[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "5.2.0"
paramiko = "2.9.2"
pyvmomi = "7.0.3"
requests = "*"

[dev-packages]
ansible-lint = "*"

[requires]
python_version = "3.9"
