{% for item in ntp_servers %}
server {{ item }} iburst
{% endfor %}
driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync
keyfile /etc/chrony.keys
leapsectz right/UTC
logdir /var/log/chrony
{% if ntp_is_ntp_server %}
allow {{ ntp_allow_network }}
local stratum 10
{% endif %}