#
# Lab {{ lab_id }} inventory file
#

{% if ansible_python_interpreter %}
localhost ansible_python_interpreter={{ ansible_python_interpreter }}
{% endif %}

{% for server in infra_servers %}
{% for nat_rule in server.nat_rules %}
{% if nat_rule.internal_port == 22 %}
{{ server.hostname }} ansible_host={{ external_ip }} ansible_port={{ nat_rule.external_port }}
{% endif %}
{% endfor %}
{% endfor %}

{% for server in rdp_servers %}
{% for nat_rule in server.nat_rules %}
{% if nat_rule.internal_port == 22 %}
{{ server.hostname }} ansible_host={{ external_ip }} ansible_port={{ nat_rule.external_port }}
{% endif %}
{% endfor %}
{% endfor %}

[dnsmasq]
{{ infra_servers.0.hostname }}

[dnsmasq:vars]
esxi_iso_url={{ esxi_iso_url }}
{% if dnsmasq_syslinux_url %}
dnsmasq_syslinux_url={{ dnsmasq_syslinux_url }}
{% endif %}

[nfsserver]
{{ infra_servers.1.hostname }}

[iscsi]
{{ infra_servers.2.hostname }}

[remotedesktop]
{{ rdp_servers.0.hostname }}

[remotedesktop:vars]
ansible_shell_type={{ windows_shell_type }}
shell_type={{ windows_shell_type }}
ansible_user={{ windows_administrator }}
ansible_password={{ default_lab_password }}
vmware_remote_console_zip_url={{ vmware_remote_console_zip_url }}
{% if firefox_download_url %}
firefox_download_url={{ firefox_download_url }}
{% endif %}
{% if putty_download_url %}
putty_download_url={{ putty_download_url }}
{% endif %}
{% if ovf_template_windows_zip_url %}
ovf_template_windows_zip_url={{ ovf_template_windows_zip_url }}
{% endif %}
{% if ovf_template_linux_zip_url %}
ovf_template_linux_zip_url={{ ovf_template_linux_zip_url }}
{% endif %}
{% if iso_so_linux_url %}
iso_so_linux_url={{ iso_so_linux_url }}
{% endif %}

[infraserver:children]
dnsmasq
nfsserver
iscsi

[infraserver:vars]
ansible_ssh_user={{ linux_root }}
ansible_ssh_pass={{ default_lab_password }}
{% if ol8_baseos_latest_repo_url %}
ol8_baseos_latest_repo_url={{ ol8_baseos_latest_repo_url }}
{% endif %}
{% if ol8_appstream_repo_url %}
ol8_appstream_repo_url={{ ol8_appstream_repo_url }}
{% endif %}

[dnsmasqclients:children]
nfsserver
iscsi

[deployvcenter:children]
dnsmasq

[deployvcenter:vars]
ovftool_bundle_url={{ ovftool_bundle_url }}
vcsa_iso_url={{ vcsa_iso_url }}

[vcenter]
localhost

[vcenter:vars]
datacenter_name={{ datacenter_name }}
vcenter_hostname={{ vcenter_hostname }}
cluster_name={{ cluster_name }}
datastore_name={{ datastore_name }}
dpg_provision_name={{ dpg_provision_name }}
dpg_external_name={{ dpg_external_name }}

[vyos]
# dynamically configured

[vyos:vars]
ansible_connection={{ vyos_connection }}
ansible_network_os={{ vyos_network_os }}
ansible_ssh_user={{ vyos_user }}
ansible_ssh_pass={{ vyos_password }}

[all:vars]
present_lab_id={{ lab_id }}
external_ip={{ external_ip }}
external_cidr={{ external_cidr }}
external_gateway={{ external_gateway }}
route_networks={{ route_networks }}
ntp_servers_list={{ ntp_servers_list }}
dns_servers_list={{ dns_servers_list }}
network_vlan_interface={{ network_vlan_interface }}
# set vyos provision ip to accelerate provisioning in case of failure
#vyos_provision_ip=
